body{
    background-color: gray;
}

.main{
    background-color: beige;
    width: 60%;
    min-height: 400px;
    margin: auto;
    padding: 20px;
}

.product p strong,
.product p span{
    margin-right: 20px;
    border-right: 1px solid #aaa;
    padding-right: 20px;
}